.projects__section__title {
  text-align: left;
  margin-top: 1em;
  margin-bottom: 1em;
}

.projects__grid {
  max-width: 1000px;
  margin: 0 auto;
  display: block;
}

.projects__grid>div {
  margin-bottom: 2em;
}