.blogpost {
    margin-top: 2em;
    min-height: 100vh;
}

.blogpost__header {
    margin-bottom: 2em;
}

.blogpost__section__title {
    margin-bottom: 0.5em;
}

.blogpost__section__body {
    margin-right: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}
